export KAVM_DEFINITION_DIR="$(realpath ../avm-semantics/.build/usr/lib/kavm/avm-llvm/avm-testing-kompiled/)"
# export KAVM_DEFINITION_DIR="$(realpath ~/.nix-profile/lib/kavm/avm-llvm/avm-testing-kompiled/)"